{% extends 'music/base.html' %}
{% block  title  %} Registro {% endblock %}

{% block  body %}
<div class="container-fluid">
    <div class="col-sm-12 col-md-7">
            <div class="panel panel-default">
                    <div   class="panel-body">
                        <h3>Crear Nuevo Contacto</h3>
                        <form  class="form-horizontal" action="" method="post"  enctype="multipart/form-data">
                            {%  csrf_token %}
                            {% include 'music/form-template.html'%}
                            <div class="form-group">

                                      <div class="cols-sm-offset-2 col-sm-10">
                                        <button type="submit" class="btn btn-sucesss"> Enviar</button>
                                       </div>

                             </div>
                        </form>
                    </div>

            </div>

    </div>
</div>
{% endblock %}